.header {
  background-color: black;
  font-family: var(--font-cormorant);
  padding: 1rem 2rem;
  max-width: 1720px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 2rem;
}

.header .logo a {
  font-size: 2rem;
}

.header a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.mobile img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}

.mobile {
  display: none;
  position: absolute;
}

.hidden {
  display: none !important;
}

.block {
  display: block;
}

@media (min-width: 1720px) {
  .header {
    margin: 0 auto;
  }
}

@media (max-width: 780px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
    position: relative;
    z-index: 100;
  }

  .mobileMenu {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 3rem;
    min-width: max-content;
    padding: 1rem;
    border-radius: 10px;
    right: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .header a {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
}
